@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

/**
 *
 */
header {
  width: 100%;
  height: 110px;
  background: #fff;
  padding: 15px 15px;
  display: flex;
  box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
  box-sizing: border-box;
}
.brand {
  display: flex;
  flex: 2;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.menu a {
  color: #00a7e6;
  text-decoration: none;
  font-weight: 300;
  padding: 8px 18px;
  border-radius: 7px;
  transition: 0.3s;
  text-transform: uppercase;
}

.menu a.active {
  background: #00a7e6;
  color: #fff;
}

.menu a:hover {
  opacity: 0.4;
  background: #00a7e6;
  color: #fff;
}

/* Reset hover if active link */
.menu .active:hover {
  opacity: 1 !important;
}

.menu a:last-child {
  margin-left: 5px;
}


.container {
  padding: 2% 0;
}

h1, h2, b, p, a { font-family: 'Roboto'; } /* Default font */

/* 
  Caller box 
  */
.box {
  margin-bottom: 2%;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
  width: 15%;
  color: #7a7d87;
  background: #fff;
  border-radius: 8px;
  margin-left: 1%;
  margin-right: 1%;
  -webkit-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
  -moz-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
  box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
}

.box:first-child {
  margin-left: 2%;
}
/* Box fonts */
.box h2 { font-weight: 400; font-size: 20px; }
.box b  { font-weight: 400 }
.box p  { font-weight: 300 }

.box .status.status-green { color: green }
.box .status.status-red   { color: red }

/* Call */
.call { display: flex; background: #FFF;
  -webkit-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
  -moz-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
  box-shadow:0px 0px 1px 0px rgba(0,0,0,0.15);
  margin-bottom: 10px;
  flex-wrap: wrap; }
.call .col { padding: 20px; }